{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/player.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Team creation</h1>

    {{ form_start(form) }}

        {{ form_row(form.name) }}

        {{ form_row(form.logoUri) }}

        <ul class="players" data-prototype="{{ form_widget(form.player.vars.prototype)|e('html_attr') }}">

            {% for players in form.player %}
                <li>{{ form_row(players.firstName) }}</li>
                <li>{{ form_row(players.lastName) }}</li>
                <li>{{ form_row(players.imageUri) }}</li>
            {% endfor %}
        </ul>

        <input type="submit" value="Create" />

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('team_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}
