{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Logouri</th>
                <td><img src="/uploads/media/{{ team.logoUri }}"/></td>
            </tr>

            <tr>
            <th>Players</th>
            {% if team.player | length > 0 %}
                <table class="record_properties table">
                    <tbody>
                    {% for player in team.player  %}
                        <tr>
                            <td>{{ player.firstName }}</td>
                            <td>{{ player.lastName }}</td>
                            <td><img src="/uploads/media/{{ player.imageUri }}"/></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('team_edit', { 'id': team.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
